<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="./css/bootstrap.min.css" />
		<link rel="stylesheet" href="./css/styles.css" />

		<title>StockSense</title>
	</head>
	<body>
		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="js/bootstrap.bundle.min.js"></script>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-xl">
				<a class="navbar-brand" href="#">StockSense</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div
					class="collapse navbar-collapse"
					id="navbarSupportedContent"
				>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a href="#" class="nav-link active">Home</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link active"
								>Profile</a
							>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container mt-3">
			<div class="row">
				<div class="my-3 mx-0 col-xl-8">
					<div class="graph">
						<img
							src="assets/dotdash_Final_Introductio_to_Technical_Analysis_Price_Patterns_Sep_2020-01-c68c49b8f38741a6b909ecc71e41f6eb.jpg"
							class="graph"
						/>
					</div>
				</div>
				<div class="mt-3 d-md-block col-xl-4 news">
					<h3>Related News</h3>
					<div class="news-card">
						<div class="news-card-img">
							<img
								class="card-img-top"
								src="assets/GettyImages-1445474970-aea62fdd148e4ac08e59c3825ce5465a.jpg"
								alt="Card image cap"
							/>
						</div>
						<div class="news-card-body">
							<p class="news-card-title">
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Eos esse quasi animi
								ad adipisci? Numquam facere ad ut
								dolorem ipsum.
							</p>
							<p class="news-card-text"></p>
						</div>
					</div>
					<div class="news-card">
						<div class="news-card-img">
							<img
								class="card-img-top"
								src="assets/GettyImages-1445474970-aea62fdd148e4ac08e59c3825ce5465a.jpg"
								alt="Card image cap"
							/>
						</div>
						<div class="news-card-body">
							<p class="news-card-title">
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Eos esse quasi animi
								ad adipisci? Numquam facere ad ut
								dolorem ipsum.
							</p>
							<p class="news-card-text"></p>
						</div>
					</div>
					<div class="news-card">
						<div class="news-card-img">
							<img
								class="card-img-top"
								src="assets/GettyImages-1445474970-aea62fdd148e4ac08e59c3825ce5465a.jpg"
								alt="Card image cap"
							/>
						</div>
						<div class="news-card-body">
							<p class="news-card-title">
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Eos esse quasi animi
								ad adipisci? Numquam facere ad ut
								dolorem ipsum.
							</p>
							<p class="news-card-text"></p>
						</div>
					</div>
					<div class="news-card">
						<div class="news-card-img">
							<img
								class="card-img-top"
								src="assets/GettyImages-1445474970-aea62fdd148e4ac08e59c3825ce5465a.jpg"
								alt="Card image cap"
							/>
						</div>
						<div class="news-card-body">
							<p class="news-card-title">
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit. Eos esse quasi animi
								ad adipisci? Numquam facere ad ut
								dolorem ipsum.
							</p>
							<p class="news-card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col"></div>
				<div class="mt-3 col-xl-10 mx-0">
					<h4>Performane Metrics</h4>
					<table class="table table-striped px-0">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">High</th>
								<th scope="col">Low</th>
								<th scope="col">%-Change High</th>
								<th scope="col">%-Change Low</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">52-Week</th>
								<td>3242.43</td>
								<td>3214.54</td>
								<td>10.53%</td>
								<td>10.53%</td>
							</tr>
							<tr>
								<th scope="row">Current</th>
								<td>3214.54</td>
								<td>3242.43</td>
								<td>10.53%</td>
								<td>10.53%</td>
							</tr>
						</tbody>
					</table>
					<div class="details-row">
						<p class="me-2">
							<span class="fw-bold">Open:</span>
							$2424.34
						</p>
						<p class="me-2">
							<span class="fw-bold">Previous Close:</span>
							$2424.34
						</p>
					</div>
				</div>
				<div class="col"></div>
			</div>
			<section class="footer bg-dark text-white-50 p-2">
				<div class="d-flex justify-content-around">
					<p>Created by Shayan Khan</p>
					<p>&copy 2023</p>
				</div>
			</section>
		</div>
	</body>
</html>
