name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  setup-postgres:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: yourusername
          POSTGRES_PASSWORD: yourpassword
          POSTGRES_DB: yourdbname
        ports:
          - 5432:5432
    steps:
    - name: Wait for PostgreSQL
      run: |
        until nc -z localhost 5432; do
          echo "Waiting for PostgreSQL to start..."
          sleep 1
        done
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: yourdbname
        POSTGRES_USER: yourusername
        POSTGRES_PASSWORD: yourpassword

  setup-redis:
    runs-on: ubuntu-latest
    steps:
    - name: Start Redis
      run: docker run --name redis-container -p 6379:6379 -d redis:latest

  run-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Node.js environment
      uses: actions/setup-node@v3.8.1
      with:
        node-version: 18.x
        cache: npm

    - name: Print
      working-directory: server
      run: ls -la

    - name: Install server dependencies
      working-directory: server
      run: npm install

    - name: Run server tests
      working-directory: server
      run: npm test
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: yourdbname
        POSTGRES_PASSWORD: yourpassword
        
