# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

# trigger build when pushing, or when creating a pull request
on: [push, pull_request]

defaults:
  run:
    shell: bash
    working-directory: server
    
jobs:

  setup-postgres:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: yourusername
          POSTGRES_PASSWORD: yourpassword
          POSTGRES_DB: yourdbname
        ports:
          - 5432:5432
    steps:
    - name: Wait for PostgreSQL
      run: |
        dockerize -wait tcp://localhost:5432 -timeout 1m
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: yourdbname
        POSTGRES_USER: yourusername
        POSTGRES_PASSWORD: yourpassword

  setup-redis:
    runs-on: ubuntu-latest
    steps:
    - name: Start Redis
      run: docker run --name redis-container -p 6379:6379 -d redis:latest
        
  build:
    # run build on latest ubuntu
    runs-on: ubuntu-latest

    steps:
    # for checking out the branch (https://github.com/actions/checkout#Push-a-commit-using-the-built-in-token)
    - uses: actions/checkout@v2
    # installing Node
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      env:
        POSTGRES_HOST: localhost
        POSTGRES_PORT: 5432
        POSTGRES_DB: yourdbname
        POSTGRES_USER: yourusername
        POSTGRES_PASSWORD: yourpassword
        REDIS_HOST: localhost
        REDIS_PORT: 6379
      with:
        # this is regarding the matrix strategy specified above
        node-version: 14.x
    # install dependencies
    - run: ls -la
    - run: npm install
    # TODO: Add migrations
    - run: npm run generate:types
    - run: npm test
